<app-header [title]="'Inicio'"></app-header>

<!-- Contenedor blanco centrado con bordes redondeados -->
<div class="isolate bg-white px-6 mt-5 mb-5 py-10 sm:py-5 lg:px-8 rounded-md shadow-md h-80 sm:h-96 md:h-[500px] lg:h-[600px]">
  <!-- Contenedor para las 3 imágenes -->
  <div class="flex space-x-8  justify-center mt-35">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuQUGR5pX5q7GeHrIGmPYeLsb11s8qVkskA&s"
      alt="Bus Icon"
      class="w-30 h-30 rounded-lg"
    />

    <img
      src="https://img.freepik.com/vector-premium/icono-usuario-avatar-perfil-usuario-icono-persona-imagen-perfil-silueta-neutral-genero-adecuado_697711-1132.jpg"
      alt="Person Icon"
      class="w-30 h-30 rounded-lg"
    />

    <img
      src="https://media.istockphoto.com/id/1250620714/es/vector/bolsa-de-dinero-pago-icono-de-billetera-azul.jpg?s=170667a&w=0&k=20&c=ovayfhNG1B2lvmmOmurmRfLzGUVrxU2uJ0C6A8eehL8="
      alt="Wallet Icon"
      class="w-30 h-30 rounded-lg"
    />
  </div>

  <!-- Texto debajo de las imágenes -->
  <p class="mt-8 text-4xl font-medium text-gray-700 text-center">
    ¡Siempre preocupándonos por sus viajes!
  </p>
</div>
