<section class="bg-white w-[calc(100%-220px)] fixed top-0 left-[220px] z-50 shadow-md">
  <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">

    <div class="flex-shrink-0 flex items-center space-x-2">
      <h1 class="text-2xl sm:text-3xl font-semibold" style="color: #4A90E2; font-family: 'Poppins', sans-serif;">
        {{ title() }}
      </h1>
      <h2 class="text-sm sm:text-lg font-semibold text-gray-500" style="font-family: 'Poppins', sans-serif;">
        Usuario en sesion {{userName}}
      </h2>
    </div>
    <div class="flex items-center space-x-4">
      <app-search-header></app-search-header>
      <app-notification-header></app-notification-header>
      <app-profile-header></app-profile-header>
    </div>
  </div>
</section>
