<div class="modal active">
  <div class="modal-inner error">
    <div class="modal-header">
      <span class="modal-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 0 24 24" width="32" fill="#e74c3c">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48
                   10-10S17.52 2 12 2zm0 15c-.83 0-1.5-.67-1.5-1.5s.67-1.5
                   1.5-1.5 1.5.67 1.5 1.5S12.83 17 12 17zm1-4h-2V7h2v6z"/>
        </svg>
      </span>
      <h2 class="modal-title">{{ title() }}</h2>
    </div>
    <p>{{ message() }}</p>
    <button class="accept-button" (click)="onClose()">Cerrar</button>
  </div>
</div>
