<div id="profile" class="px-20 mt-7 mb-0">
  <a href="#" class="inline-flex space-x-2 items-center">
    <span>
      <img class="rounded-full w-25 h-25"
        src="https://previews.123rf.com/images/tamersaleh/tamersaleh2309/tamersaleh230903385/212457990-autob%C3%BAs-azul-sobre-una-ilustraci%C3%B3n-de-vector-de-fondo-blanco-en-estilo-de-dibujos-animados.jpg"
        alt="">
    </span>
  </a>
</div>
<div id="brand" class="px-25">
  <h1 class="text-lg md:text-2xl font-bold text-white">GTU</h1>
</div>
<div class="text-sm text-white px-21 mb-12">Administrador</div>

